body {
    background-color: rgb(247, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgb(122, 0, 0);
    border-radius: 10px;
}